@import url('https://fonts.googleapis.com/css?family=Poppins:600|Quicksand&display=swap');

p {
    font-family: "Quicksand", sans-serif;
}

.pageFeed {
    margin: 0 5vw 0 5vw;
}

.newPostBtnContainerFeed {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    height: 10vh;
}

.newPostBtnFeed {
    width: 20vw;
    height: 5vh;
}

.feedTimelineContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.post {
    margin-bottom: 50px;
    max-width: 70%;
}

@media (min-width: 990px) and (max-width: 1385px) {
    .post{
        max-width: 100%;
    }
}

.postPhotoPlaceholder, .dadosPostPlaceholder {
    border: 1px solid #1F3B2C;
    border-radius: 3px;
}

.postPhotoPlaceholder > img {
    max-width: 100%;
}

.dadosUsuarioPostPlaceholder{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    border-bottom: 0.5px solid #1F3B2C;
}

.dadosUsuarioPostPlaceholder > p {
    margin-left: 10px;
    margin-top: 10px;
}

.userPostIcon {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.postDescriptionPlaceholder, .postActionsPlaceholder, .postCommentsPlaceholder, .newPostComment {
    padding: 10px;
}

.postDescriptionPlaceholder {
    border-bottom: 0.5px solid #1F3B2C;
}

.postActionsPlaceholder {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.postActionsPlaceholder > button {
    background-color: white;
    border: none;
    text-decoration: none;
}

.postActionIcon {
    max-width: 30px;
    margin-right: 20px;
}

.postComment > p{
    display: inline-block;
    vertical-align: top;
}

.btn-primary {
    background-color: #1F3B2C;
    color: white;
    border-color: #1F3B2C;;
}

.btn-primary:hover {
    background-color: #588068;
    color: black;
    border-color: #588068;;
}


