body {

    background-image: url("../images/background2.jpg");
    background-attachment: fixed;
}

.feedContainer {
    padding-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.timeline {
    max-width: 800px;
}

.posts {
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
}

.post {
    margin-bottom: 30px;
    border-radius: 3px;
    max-height: 100%;
    max-height: 100%;
    border: 2px solid #1F3B2C;
}

.headerPost {
    border-bottom: 0.5px solid #588068;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.headerPost > p {
    margin-left: 10px;
    margin-top: 10px;
}

.userIcon {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.imagePost {
    border-bottom: 0.5px solid #588068;
}

.imagePost > img {
    max-width: 100%;
}

.postActions{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.postActions > img {
    max-width: 30px;
    margin-right: 20px;
}

.postDescription, .postComments {
    padding: 10px;
}

.postDescription > p {
    display: inline-block;
    vertical-align: top;
}

.comment > p {
    display: inline-block;
    vertical-align: top;
}

.btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #588068;
}

.userName {
    color: #1F3B2C;
}