.logo-header {
    max-width: 100px;
    margin-right: 4px;
    margin-left:20vw;
}

.img-brand {
    flex: 1 0 15%;
}

.header-text{
    font-size: larger;
}

@media (max-width: 950px) {
    .logo-header{
        margin-left:auto;
    }
}