.left-side, .right-side {
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.login-image {
    background-color: green;
    background-image: url("../images/vasos.png");
    background-size: cover;
    background-repeat:none;
    background-position:center;
    /* filter: blur(2px); */
}

.left-side {

}

.right-side {

}

.card-style {
    background-color:white;
    border-color:3px solid purple;
}

h2.tituloLogin {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color:#588068;
}

.formularioLogin{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    padding-top: 150px;
}

.btnLogin{
    background-color: #588068;
    border-color:#588068;
}

.btnLogin:hover {
    background-color: #1F3B2C;
    border-color: #1F3B2C;
}