.logo-header {
    max-width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.img-brand {
    flex: 1 0 15%;
}

.nav-text {
    margin-top:10px;
}

.nav-item {
    margin: 0 30px 0 30px;
}

.navbar {
    /* padding-left:10vh; */
    background-color: #F5F3F5;
}

@media (max-width: 950px) {
    .navbar{
        margin-left:auto;
        padding-left:0;
    }
}