.plant-image {   
    max-width: 700px;
    max-height: 700px;
}

.image-border {
    border: 5px solid #1F3B2C;
    border-radius: 10%;
}

.img-pq {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #1F3B2C;
    border-radius: 5%;
    margin: 0 0.1vw 0 0.1vw;
}

.timeline-row > .timeline {
    display: flex;
    overflow-x: auto;
}

div.space {
    margin: 3vw 0 3vw 0;
}

/* SEM SCROLLBAR PRA MOBILE */

/* .timeline::-webkit-scrollbar {
    display: none;
} */

@media (max-width: 900px) {
    .plant-image{
        max-width: 350px;
        max-height: 350px;
    }

@media (max-width: 400px) {
    .plant-image{
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 800px) and (min-width: 510px) {
    .plant-description {
        margin: 0 12vw 0 12vw;
    }
}
