

img.img-user {
    border: 5px solid #1F3B2C;
    border-radius: 50%;
    max-width:250px;
}

img.friend-image {
    width: 200px;
    height: 200px;
}

.nome-usuario {
    padding-top: 2vh;
}

.basic-info-text {
    font-size: 1.2em;
}

hr.linha-user { 
    display: block;
    color: #1F3B2C;
    overflow: hidden;
    border-style: inset;
    border-width: 4px;
    margin-right:2vh;
    margin-top: 0em;
}

.h2-perfil {
    padding-top:2vh;
}

.detail {
    font-size: 0.8em;
}

.badges-session {
    margin-top: 0.8vh;
    margin-left:1vw;
}

img.accomplishment{
    max-width: 50px;
    background: green;
    border-radius: 50%;
}

#amigos-usuario, #plantas-usuario {
    margin-top: 5vh;
}

/* FLEXBOX PARA LINHA DO TEMPO DA PLANTA */

.container > .timeline {
    display: flex;
    overflow-x: auto;
}

.tituloPlaceholder {
    padding: 30px;
    margin-left: 10%;
}

/* SEM SCROLLBAR PRA MOBILE */

/* .timeline::-webkit-scrollbar {
    display: none;
} */