
@import url('https://fonts.googleapis.com/css?family=Poppins:600|Quicksand&display=swap');

p, li {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

h2.titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #1F3B2C;
}

.formulario {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

button.form-contato {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-botani {
        left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.p-footer {
    margin-bottom: 0;
}