.halfpage {
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.login-image {
    background-color: green;
    background-image: url("../images/vasos.png");
    background-size: cover;
    background-repeat:none;
    background-position:center;
    /* filter: blur(2px); */
}

.formplaceholder {
    background-color: white;
    width: 50%;
    padding: 40px;
    height: 50vh;
    border-radius: 10px;
}

/* .card-style {
    background-color:white;
    border-color:3px solid purple;
} */

.input-login {
    padding: 0;
}

h2.tituloLogin {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color:#588068;
}

.formularioLogin{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

.btnLogin{
    background-color: #588068;
    border-color:#588068;
}

.btnLogin:hover {
    background-color: #1F3B2C;
    border-color: #1F3B2C;
}

.margin-control-login {
    margin-bottom: 0vw;
}

/* MOBILE */

@media (max-width: 992px) {

    .margin-control-login {
        margin-bottom:-20vw;
    }
}

@media (max-width: 1200px){
    .halfpage{
        height: 70vh;
    }

    .formplaceholder{
        height: 50%;
        padding: 20px;
    }
}

@media (max-width: 500px){
    .tituloLogin {
        font-size: medium;
    }
}

@media (max-width: 500px) {
    .margin-control-login {
        margin-bottom:-40vw;
    }
}